/* Table styling */
/* .html::-webkit-scrollbar{
  display:none;
  overflow: hidden;
} */
html, body {
    overflow-y: auto;
    margin: 0;
    padding: 0;
  }
  
  .menu-table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px; /* Added margin-top */
      overflow: hidden;
  
  }
  /* Table header styling */
  .Head th {
      background-color: #c67314;
      color: white;
      font-weight: bold;
      border: 1px solid black; /* Added border */
      padding: 10px; /* Added padding */
      overflow: hidden;
  }
  
  /* Table cell styling */
  .menu-table td {
      background-color: #dcdfc6;
      color: black;
      font-weight: lighter;
      border: 1px solid black; /* Added border */
      padding: 10px; /* Added padding */
      overflow: hidden;
  }
  
  .mess-text-container {
    position: absolute;
      padding-top: -1000px;
      margin-left: -420px;
    }
    
    .mess-heading {
      position:absolute;
      font-size: 100px;
      font-weight:bold ;
      color: #c67314;
      margin-top: -360px; /* Adjust this value to bring it down */
      z-index: 1002;
      margin-left:-510px;
    }
    
    .mess-heading2 {
      margin-bottom: 500px;
      font-size: 80px;
      font-weight: bold;
      color:black;
      margin-top: -360px; 
      margin-top: -600px; /* Adjust this value to bring it down */
      z-index: 1002;
    }
  
    .mess-herobanner {
      position:absolute;
     width: 1000px;
      height: auto;
      margin-top: -550px; /* Adjusted margin-top */
      margin-left: 500px; /* Adjusted margin-right */
      float: right; /* Added float to align to the right */
    }
  
    .mess-text{
   
      font-size: 21px;
      margin-top: -105px;
      margin-left:-500px;
  
    }
  
    .m1{
      margin-top: 10px;
      margin-bottom: 40px;
      float: left;
      margin-right: 150px;
      z-index: 1002;
    }
  
    .whole-table{
      position: absolute;
      margin-left: -570px;
      margin-top: 420px;
    }
  
   .mt-5{
    margin-top: 60px;
   }
  
   .menufooter{
    position: absolute;
    margin-bottom: 400px;
    margin-top:-6900px;
    margin-left:1800px;
  }
  
  .about-background-image {
    position:absolute;
    top:500;
    margin-top:-1020px;
    left: 10px;
    margin-left: 550px;
    z-index: -1;
    height: 700px;
    width: 3000px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .menufooter{
    position: absolute;
    margin-bottom: 5400px;
    margin-top:-6500px;
    margin-left:1700px;
  }