html, body {
    overflow-y: auto;
    margin: 0;
    padding: 0;
  }
  
  .about-section-container {
    margin-top: 20px;
    position: relative;
    display: flex; /* Apply flexbox */
    align-items: center; /* Align items vertically */
    margin-left:-70px;
  }
  .logo {
    position: absolute;
    top: -260px;
    left: -90px;
    height: auto;
    z-index: 1000; 
  }
  
  
  .about-background-image-container {
    position:absolute;
    top:0;
    margin-top:10px;
    left: 10px;
    margin-left: -900px;
    z-index: -1;
    height: 1200px;
    width: 3500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    
    /* overflow: hidden; */
  }
  
  .about-section-image-container {
    flex: 0.5; 
    margin-left: 20rem; 
  }
  .about-section-image-container img {
    width: 1600px; 
    height:750px; 
    margin-bottom: 100px;
    margin-top: 200px;
    margin-left: 800px;
    padding-left: 600px;
    padding-right: -600px;
  
  }
  
  
  .about-section-text-container {
    flex: 1;
    position:absolute;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 4200px;
    margin-left:-40px;
  }
  .us-text {
    color: rgb(8, 8, 8);
    font-size: 80px;
  }
  
  .nav-logo {
    margin-bottom: -200px;
  }
  
  .primary-subheading {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #E1680B;
    font-size: 200px;
    margin-top:-50px;
    padding-bottom: 50px;
    margin-left:50px;
    
  }
  .primary-heading{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 300;
    color:  #E1680B;
    font-size: 35px;
    margin-bottom: -3900px;
    margin-left: 60px;
  }
  
  .text {
    color:black;
     margin-top:40px;
    position:absolute;
     font-size: 30px;
     margin-left: 730px;
  }
  
  .savor{
    margin-left: -700px;
  }
  
  
  .card-container {
    display: flex;
    margin-left: -1840px; 
    margin-right: 50px;
    position:absolute;
    margin-top: 90px; 
    overflow-x: auto;
    z-index: 0; 
    box-shadow: 20px;
  }
  
  .card {
    width: 800px;
    height: 600px;
    border-radius: 5px;
    margin-right: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #DD7D25;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card:last-child {
    margin-right: 0;
  }
  
  .cardImg {
    width: 100%;
    border-top-left-radius: 5px;
  }
  
  .cardTitle {
    color: white;
    font-weight: bold;
    font-size:25px;
  }
  
  .cardBody {
    padding: 17px;
  }
  
  .home-text{
    margin-top: 1300px;
    font-size: 40px;
    margin-left:-1200px;
    display: inline-block;
  }
  
  .para-3{
    text-align: center;
    display: inline;
   
    }
    
    .para-4{
      text-align: center;
      color:  #c67314;
      display: inline;
      font-weight: 700;
    }
    
    .para-5{
      text-align: center;
      /* margin-left:400px;
      margin-bottom:1000px; */
      display: inline;
      margin-left: 10px;
      margin-bottom:900px ;
      
    }
    
   
  .veg-container {
    display: flex;
    margin-left: -1823px; 
    margin-right: 50px;
    position:absolute;
    margin-top: 1270px; 
    overflow-x: hidden;
    z-index: 0; 
    box-shadow: 20px;
  }
  
  .veg-card {
    width: 500px;
    height: 400px;
    border-radius: 5px;
    margin-right: 100px;
    box-shadow: -2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2), 2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2);
    transition: 0.3s;
    background-color: #FAFBEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  
  
  
  .cImg {
    width: 100%;
    border-top-left-radius: 5px;
  }
  
  .cTitle {
    color:black;
    font-weight: bold;
    font-size:25px;
    margin-top:20px
  }
  
  .cBody {
    padding: 17px;
  }
  
  .category{
  color:#58C047 ;
  font-size: 35px;
  position: absolute;
  margin-top: 1150px;
  margin-left: -1835px;
  }
  
  .para-6{
    color: black;
    font-size: 45px;
    margin-top: 995px;
    margin-left: -1130px;
    position: absolute;
    font-weight: 500;
  }
  
  .para-7{
    color: #DD7D25;
    font-size: 45px;
    position: absolute;
    margin-left: 15px;
    font-weight: 500;
  }
  .li{
   color:black;
   margin-top:500px;
   position: absolute;
  }
  
  .veg-card2 {
    width: 500px;
    height: 400px;
    border-radius: 5px;
    margin-left: -1240px;
    box-shadow: -2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2), 2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2);
    transition: 0.3s;
    background-color: #FAFBEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: 1270px;
    position: absolute;
  }
  
  
  
  .cImg2 {
    width: 100%;
    border-top-left-radius: 5px;
  }
  
  .cTitle2 {
    color:black;
    font-weight: bold;
    font-size:25px;
    margin-top:30px;
  }
  
  .veg-card3 {
    width: 490px;
    height: 400px;
    border-radius: 5px;
    margin-left: -655px;
    box-shadow: -2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2), 2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2);
    transition: 0.3s;
    background-color: #FAFBEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: 1270px;
    position: absolute;
  }
  
  
  
  .cImg3 {
    width: 100%;
    border-top-left-radius: 5px;
  }
  
  .cTitle3 {
    color:black;
    font-weight: bold;
    font-size:25px;
    margin-top:30px;
  }
  
  
  .veg-card4 {
    width: 500px;
    height: 430px;
    border-radius: 5px;
    margin-left: -1835px;
    box-shadow: -2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2), 2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2);
    transition: 0.3s;
    background-color: #FAFBEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: 1750px;
    position: absolute;
  }
  
  
  
  .cImg4 {
    width: 100%;
    border-top-left-radius: 5px;
  }
  
  .cTitle4 {
    color:black;
    font-weight: bold;
    font-size:25px;
    margin-top:30px;
  }
  
  
  .veg-card5 {
    width: 500px;
    height: 430px;
    border-radius: 5px;
    margin-left: -1250px;
    box-shadow: -2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2), 2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2);
    transition: 0.3s;
    background-color: #FAFBEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: 1750px;
    position: absolute;
  }
  
  
  
  .cImg5 {
    width: 100%;
    border-top-left-radius: 5px;
  }
  
  .cTitle5 {
    color:black;
    font-weight: bold;
    font-size:25px;
    margin-top:30px;
  }
  
  
  .veg-card6 {
    width: 490px;
    height: 430px;
    border-radius: 5px;
    margin-left: -655px;
    box-shadow: -2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2), 2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2);
    transition: 0.3s;
    background-color: #FAFBEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: 1750px;
    position: absolute;
  }
  
  
  
  .cImg6 {
    width: 100%;
    border-top-left-radius: 5px;
  }
  
  .cTitle6 {
    color:black;
    font-weight: bold;
    font-size:25px;
    margin-top:30px;
  }
  
  .veg-card7 {
    width: 500px;
    height: 440px;
    border-radius: 5px;
    margin-left: -1835px;
    box-shadow: -2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2), 2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2);
    transition: 0.3s;
    background-color: #FAFBEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: 2260px;
    position: absolute;
  }
  
  
  
  .cImg7 {
    width: 100%;
    border-top-left-radius: 5px;
  }
  
  .cTitle7 {
    color:black;
    font-weight: bold;
    font-size:25px;
    margin-top:30px;
  }
  
  .veg-card8 {
    width: 500px;
    height: 430px;
    border-radius: 5px;
    margin-left: -1245px;
    box-shadow: -2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2), 2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2);
    transition: 0.3s;
    background-color: #FAFBEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: 2260px;
    position: absolute;
  }
  
  
  
  .cImg8 {
    width: 100%;
    border-top-left-radius: 5px;
  }
  
  .cTitle8 {
    color:black;
    font-weight: bold;
    font-size:25px;
    margin-top:30px;
  }
  
  .veg-card9 {
    width: 500px;
    height: 430px;
    border-radius: 5px;
    margin-left: -655px;
    box-shadow: -2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2), 2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2);
    transition: 0.3s;
    background-color: #FAFBEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: 2260px;
    position: absolute;
  }
  
  .cImg9 {
    width: 100%;
    border-top-left-radius: 5px;
  }
  
  .cTitle9 {
    color:black;
    font-weight: bold;
    font-size:25px;
    margin-top:30px;
  }
  
  .non-veg-text1{
    color: #D44848;
    margin-top: 2820px;
    position:absolute;
    font-size: 35px;
    margin-left: -1835px
  }
  
  .non-veg-text2{
    color: #58C047;
    margin-top: 2820px;
    position: absolute;
    font-size: 35px;
    margin-left: -1765px
  }
  
  
  .non-veg-container {
    display: flex;
    margin-left: -1823px; 
    margin-right: 50px;
    position:absolute;
    margin-top: 1270px; 
    overflow-x: hidden;
    z-index: 0; 
    box-shadow: 20px;
  }
  
  
  .non-veg-card1 {
    width: 500px;
    height: 450px;
    border-radius: 5px;
    margin-left: -1825px;
    box-shadow: -2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2), 2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2);
    transition: 0.3s;
    background-color: #FAFBEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: 2950px;
    position: absolute;
  }
  
  .nImg1 {
    width: 100%;
    border-top-left-radius: 5px;
  }
  
  .nTitle9 {
    color:black;
    font-weight: bold;
    font-size:25px;
    margin-top:20px
  }
  
  .nBody {
    padding: 17px;
  }
  
  .non-veg-card2 {
    width: 500px;
    height: 450px;
    border-radius: 5px;
    margin-left: -1245px;
    box-shadow: -2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2), 2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2);
    transition: 0.3s;
    background-color: #FAFBEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: 2950px;
    position: absolute;
  }
  
  .nImg2 {
    width: 100%;
    border-top-left-radius: 5px;
  }
  
  .non-veg-card3 {
    width: 500px;
    height: 440px;
    border-radius: 5px;
    margin-left: -655px;
    box-shadow: -2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2), 2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2);
    transition: 0.3s;
    background-color: #FAFBEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: 2950px;
    position: absolute;
  }
  
  .nImg3 {
    width: 100%;
    border-top-left-radius: 5px;
  }
  
  .non-veg-card4 {
    width: 500px;
    height: 450px;
    border-radius: 5px;
    margin-left: -1825px;
    box-shadow: -2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2), 2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2);
    transition: 0.3s;
    background-color: #FAFBEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: 3480px;
    position: absolute;
  }
  
  .nImg4 {
    width: 100%;
    border-top-left-radius: 5px;
  }
  
  .non-veg-card5 {
    width: 500px;
    height: 440px;
    border-radius: 5px;
    margin-left: -1245px;
    box-shadow: -2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2), 2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2);
    transition: 0.3s;
    background-color: #FAFBEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: 3480px;
    position: absolute;
  }
  
  .nImg5 {
    width: 100%;
    border-top-left-radius: 5px;
  }
  
  .weather-food{
      font-size: 30px;
      position: absolute;
      margin-top: 4090px;
      margin-left: -1240px
  }
  
  .weather-winter{
    font-size: 30px;
      position: absolute;
      margin-top: 4290px;
      margin-left: -1840px
  }
  
  .weather-summer{
    font-size: 30px;
      position: absolute;
      margin-top: 5000px;
      margin-left: -1840px
  }
  
  .cta{
    color:#D8580E;
    position: absolute;
    font-size: 45px;
    margin-top: 4140px;
    margin-left: -1140px
  }
  
  
  
  .weather-container {
    display: flex;
    margin-left: -1823px; 
    margin-right: 50px;
    position:absolute;
    margin-top: 4400px; 
    overflow-x: hidden;
    z-index: 0; 
    box-shadow: 20px;
  }
  
  .winter-card {
    width: 500px;
    height: 400px;
    border-radius: 5px;
    margin-right: 100px;
    box-shadow: -2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2), 2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2);
    transition: 0.3s;
    background-color: #FAFBEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
  
  
  
  
  .wImg {
    width: 100%;
    border-top-left-radius: 5px;
  }
  
  .wTitle {
    color:black;
    font-weight: bold;
    font-size:25px;
    margin-top:20px
  }
  
  .wBody {
    padding: 17px;
  }
  
  .winter-card2 {
    width: 500px;
    height: 400px;
    border-radius: 5px;
    margin-left: -1235px;
    box-shadow: -2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2), 2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2);
    transition: 0.3s;
    background-color: #FAFBEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: 4400px;
    position: absolute;
  }
  
  .wImg2 {
    width: 100%;
    border-top-left-radius: 5px;
  }
  
  .wTitle1 {
    color:black;
    font-weight: bold;
    font-size:25px;
    margin-top:20px
  }
  
  .winter-card3 {
    width: 500px;
    height: 400px;
    border-radius: 5px;
    margin-left: -655px;
    box-shadow: -2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2), 2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2);
    transition: 0.3s;
    background-color: #FAFBEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: 4400px;
    position: absolute;
  }
  
  .wImg3 {
    width: 100%;
    border-top-left-radius: 5px;
  }
  
  
  .summer-card {
    width: 500px;
    height: 440px;
    border-radius: 5px;
    margin-left: -1843px;
    box-shadow: -2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2), 2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2);
    transition: 0.3s;
    background-color: #FAFBEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: 5085px;
    position: absolute;
  }
  
  .summerImg1 {
    width: 100%;
    border-top-left-radius: 5px;
  }
  
  .summer-card1 {
    width: 500px;
    height: 440px;
    border-radius: 5px;
    margin-left: -1245px;
    box-shadow: -2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2), 2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2);
    transition: 0.3s;
    background-color: #FAFBEA;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    margin-top: 5085px;
    position: absolute;
  }
  
  .summerImg2 {
    width: 100%;
    border-top-left-radius: 5px;
  }
  
  .homefooter{
    position: absolute;
    margin-bottom: 400px;
    margin-top:-50px;
    margin-left:2300px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust the margin as needed */
  }
  
  .button {
    background-color: #D8580E; /* Green */
    border: none;
    color: white;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top:4900px;
    margin-left:-500px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
    position: absolute;
    width:170px;
    height:70px;
  }
  
  .button:hover {
    background-color: #45a049; /* Darker Green */
  }
  
  .button-container1 {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust the margin as needed */
  }
  
  .button1 {
    background-color: #D8580E; /* Green */
    border: none;
    color: white;
    padding: 15px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top:6300px;
    margin-left:-500px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
    position: absolute;
    width:170px;
    height:70px;
  }
  
  .button1:hover {
    background-color: #45a049; /* Darker Green */
  }
  
  