.wrapper {
    width: 420px;
    color: #dd7e26;
    
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    background:#fafbea ;
    margin-top: 30px;
    
}

hr {
    border-top: 2px solid #dd7e26 
}

.input-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid #dd7e26;
    font-size: 16px;
    border-radius: 5px;
    padding: 20px 45px 20px 20px;
    background:#fafbea;
    color:#9e6d32
}


.wrapper button {
    width: 100%;
    height: 45px;
    background:#dd7e26 ;
    border: none;
    outline: none;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    margin-top: 30px;
    cursor: pointer;
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
}

.wrapper .register-link {
    font-size: 14px;
    text-align: center;
    margin-top: 20px 0 15px;
}

.register-link p a {
    color: #c67314;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}
.input-box input::placeholder {
    color: #d0aa7c;
}

.food-image {
    width: 950px;
    height: 950px;
    position: absolute;
    top: 15px;
    left: -210px;
    margin-top: -300px;
    
}

.food-image2 {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 710px;
    left: 1800px;
    margin-top: 220px;
    
}
.food-image3 {
    width: 350px;
    height: 350px;
    position: absolute;
    top: -350px;
    left: 2100px;
    margin-top: 250px;
    
}
.logo {
    width: 100px;
    height: 80px;
    position: absolute;
    top: 190px;
    left: 50%; /* Position the left edge at the center */
    transform: translateX(-50%); /* Move the logo back by half of its width */
    margin-top: 100px;
    
}
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 5px;
    font-size:10px;
}


@media screen and (max-width: 480px) {
    .input-box input {
        width: calc(100% - 35px);
    }
}
