.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.wrapper input::placeholder{
    color: #b86c2581 !important;
}

.food-image {
    position: absolute;
    top: -100px;
    left: -100px; 
}

.food-image2 {
    width: 300px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    
}
.food-image3 {
    width: 350px;
    height: 350px;
    position: absolute;
    top: -100px;
    right: -50px;  
}
@media (max-width:700px) {
    .food-image {
        display: none;
    }
    
    .food-image2 {
        display: none;
    }
    .food-image3 {
        display: none;
    } 
}