.Footer {
    padding: 2rem 0;
    margin-top: 6800px;
    background-color: #E1680B;
    position: absolute;
    width:4500px;
    margin-left:-2700px;
    height:500px;
  }
  
  .text1 {
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: 2px;
    margin-left:550px;
    font-size: 30px;
    margin-top:80px;
  }
  
  .text2{
    color: #ffffff;
    margin-left:1000px;
    position: absolute;
    font-size: 24px;
    margin-top:120px;
  }
  
  .gcit{
    color:white;
    margin-left:1000px;
    margin-top:170px;
    position: absolute;
    font-size: 23px;
  }

  .contact{
    color:white;
    margin-left:1300px;
    margin-top:100px;
    position: absolute;
    font-size: 12px;
  }
  .number{
    color:white;
    margin-left:1350px;
    margin-top:150px;
    position: absolute;
    font-size: 23px;
  }

  .mail{
    color:rgb(255, 255, 255);
    margin-left:1350px;
    margin-top:195px;
    position: absolute;
    font-size: 23px;
  }

  .location{
    color:rgb(255, 255, 255);
    margin-left:1800px;
    margin-top:100px;
    position: absolute;
    font-size: 23px;
  }
  .location2{
    color:rgb(255, 255, 255);
    margin-left:1840px;
    margin-top:150px;
    position: absolute;
    font-size: 23px;
  }
  
  .logo2{
    margin-left:-10px;
    margin-top:95px;
    width:300px;
    position: absolute;
  }
  
  .lasttext{
    color:rgb(255, 255, 255);
    margin-left:1390px;
    margin-top:285px;
    position: absolute;
    font-size: 23px;
  }
  .phone{
    width:40px;
    height:40px;
    margin-left:1300px;
    margin-top:145px;
    position: absolute;
  }

  .mail2{
    width:40px;
    height:35px;
    margin-left:1300px;
    margin-top:190px;
    position: absolute;
  }

  .location11{
    width:37px;
    height:45px;
    margin-left:1795px;
    margin-top:145px;
    position: absolute;
  }

  .c{
    width:30px;
    height:33px;
    margin-left:1335px;
    margin-top:280px;
    position: absolute;
  }

  .media1{
    margin-left:2100px;
    margin-top:-67px;
    position: absolute;
    color:white;
    font-size: 50px;
  }

  .media2{
    margin-left:2170px;
    margin-top:-65px;
    position: absolute;
    color:white;
    font-size: 47px;
  }

  .media3{
    margin-left:2240px;
    margin-top:-63px;
    position: absolute;
    color:white;
    font-size: 45px;
  }

  .media4{
    margin-left:2310px;
    margin-top:-65px;
    position: absolute;
    color:white;
    font-size: 56px;
  }
