.body {
  background-color: #fafbea;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #e1680b;
  height: 80px;
  color: #eee;
  box-shadow: rgba(209, 38, 11, 0.5) 3px 10px 10px -5px; /* Adjusted box shadow */
}

.nav-link {
  text-decoration: none;
  color: #eee;
  padding: 0 10px;
  text-transform: uppercase;
  font-weight:bold;
  font-size: 16px; /* Adjust the font size as needed */
  
  
}


.nav-link:hover {
  text-decoration: underline; /* Underline links on hover */
  color: white;
}

.top-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000; /* Ensure it's above other content */
}

/* ...other styles */

.hidden {
  display: none;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .nav {
    justify-content: space-between; /* Distribute links evenly */
    padding: 0 20px; /* Add some padding to the sides */
  }

  .nav-link {
    font-size: 14px; /* Decrease font size for smaller screens */
  }
}