/* Home CSS */
.herobanner-section{
    background:url('../../assets/herobanner.png');
    min-height: 80vh;
    background-repeat: no-repeat;
    background-position: right;
}
@media (max-width:800px) {
    .herobanner-section{
        background: none !important;
    }
    .herobanner-section h5{
        width: 100% !important;
    }
}