html,body{
    overflow-y: auto;
    margin: 0;
    padding: 0;
  
}

.about-section{
    margin-top: -400px;
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: -1300px;
}

.about-background-image {
    position:absolute;
    top:0;
    margin-top:-2020px;
    left: 10px;
    margin-left: -10050px;
    z-index: -1;
    height: 970px;
    width: 3000px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }
  .about-background-image img {
    position:absolute;
    top:0;
    margin-top:-9020px;
    left: 10px;
    margin-left: -8050px;
    z-index: -1;
    height: 970px;
    width: 3000px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  }
  
.about-section-text{
    flex:1;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 3900px;
    margin-left: 180px;
  
}

.chef {
    flex: 0.5; 
    margin-left: 1rem; 
  }
  .chef img {
    width: 800px; 
    height: 840px; 
    margin-bottom: 3900px;
    margin-left: 200px;
    margin-right: -10px;
  }
  
.subheading{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #E1680B;
    font-size: 130px;
    padding-bottom: 40px;
}

.us-text1{
    color:rgb(8, 8, 8) ;
    font-size: 120px;
}

.heading{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: black;
    font-size: 35px;
}

.about-buttons-container {
    margin-top: 15px;
    display: flex;
  }

.secondary-button {
    background-color: #E1680B; /* Orange color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 1.1rem 1rem; 
    font-size: 20px;
    margin-top: 40px;
    font-family:Arial, Helvetica, sans-serif;
  }
  
  .content{
    margin-top:-2400px;
    font-size: 27px;
     margin-left: -2000px;
     position: relative;
     color: #050505;
      
    }
    .content p {
      margin-bottom: 25px; /* Adjust the value as needed */
      padding-left:93px;
    }
    
    .team h1{
        margin-top: -900px;
        font-size:50px;
       margin-left:-1130px;
      }
      
      .team1{
        color:#DD7D25;
      }
      
      .team2{
        color:#050505;
        margin-left: 13px;
      }
      
      .team-members {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        margin-left:-1550px;
      
      }
      
      .team-members img {
        width: 375px; 
        height: 370px;
        margin-left:-400px;
      }
      
      .description1 {
      
        margin-top: 27px;
        font-weight: bold;
        font-size: 20px;
        margin-left:-270px;
      }
      .description2 
      {
      
        margin-top: 27px;
        font-weight: bold;
        font-size: 20px;
        margin-left:-270px;
      }
      
      .description3
      {
      
        margin-top: 27px;
        font-weight: bold;
        font-size: 20px;
        margin-left:-285px;
      }
      
      .description4
      {
      
        margin-top: 27px;
        font-weight: bold;
        font-size: 20px;
        margin-left:-290px;
      }
      
      .second-text1 {
        
        margin-top: 5px;
        font-size: 16px;
        margin-left:-8px;
      
      }
      
      .second-text2
      {
        
        margin-top: 5px;
        font-size: 16px;
      
      }
      
      .second-text3
      {
        
        margin-top: 5px;
        font-size: 16px;
      
      }
      
      .second-text4
      {
        
        margin-top: 5px;
        font-size: 16px;
        margin-left: -25px;
      
      }
      
      .styled-hr {  /* Style the hr element with class "styled-hr" */
        border: 0;  
        height: 2px;
        width:1850px;
        background-color: #2c2a2a; 
        margin-top: -170px;  
        margin-left:370px;
        position: absolute;
      }
      
      .team-circle{
        position:absolute;
        margin-top:500px;
        margin-left:400px;
        width:300px;
        height:240px;
      }
      
      .hr{
        border: 0; 
        height: 2.6px;  
        width:700px;
        background-color: #000000;  
        margin-top: 500px;  
        margin-left:700px;
        position: absolute;
      
      }
      
      .aim-text{
        position:absolute;
        margin-top:520px;
        margin-left:1450px;
        font-size: 22px;
      }
      
      .hr1 {
        border: 0;
        width: 2.5px; /* Adjust thickness as needed */
        height: 300px;
        background-color: #000000;
        position: absolute;
        overflow: hidden; 
        margin-left: 570px;
        margin-top: 1080px;
      }
  
      .team-circle2 {
        position: absolute;
        margin-top: 1650px;
        margin-left: 1610px;
        width: 280px;
        height: 240px;
      
      }
      
      .aim-text2 {
        position: absolute;
        margin-top:1650px;
        margin-left: 500px;
        font-size: 22px;
      }
      
      .hr3{
        border: 0; 
        height: 2.7px;  
        width:500px;
        background-color: #181717;  
        margin-top: 1650px;  
        margin-left:1080px;
        position: absolute;
      
      }
      
    
      .li {
        border: none;
        height: 300px;
        width:3px;
        background-color: #161616;
        margin-top:2020px;
        margin-bottom:-2000px;
        margin-left:-500px;
      }
      
      .team-circle3 {
        position: absolute;
        margin-top: 2890px;
        margin-left: 400px;
        width: 310px;
        height: 230px;
        
      
      }
      
      .aim-text3 {
        position: absolute;
        margin-top:2900px;
        margin-left: 1600px;
        font-size: 22px;
       
      }
      .li2 {
        border: none;
        height: 2.7px;
        width:500px;
        background-color: #000000;
        margin-top:2890px;
        margin-left:-1300px;
      }
      
      .li3 {
        border: none;
        height: 300px;
        width:2.5px;
        background-color: #0a0a0a;
        margin-top:3410px;
        margin-left:-410px;
      }
           
      .team-circle4 {
        margin-top: 4100px;
        margin-left: -540px;
        width: 300px;
        height: 240px;
        overflow:hidden; 
      }
      
      .li0 {
        border: none;
        height: 3px;
        width:700px;
        background-color: #000000;
        margin-top:4100px;
        margin-left:-1100px;
      }
      
      
      .aim-text4 {
        position: absolute;
        margin-top:4100px;
        margin-left: 530px;
        font-size: 22px
       
      }
      
      .aboutfooter{
        position: absolute;
        margin-bottom: 5400px;
        margin-top:-3000px;
        margin-left:2500px;
      }
