html::-webkit-scrollbar{
  display:none;
}

.feedback {
    border: 2px solid #DDDEC4; /* Adding a border */
    background-color: #DDDEC4; /* Setting the background color */
    padding: 20px;
    width: 80%;
    min-width: 900px;
    height: 80%;
    min-height: 770px; /* Adding some padding */
    box-shadow: -2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2), 2px 4px 8px 2px rgba(0.2, 0.2, 0.2, 0.2);;
  }
  .feedback-form{
    padding: 60px;
  }
  .feedback form div {
    margin-bottom: 40px; /* Adding margin between form fields */
  }
  
  .feedback label {
    display: block; /* Making the label display as block to stack them vertically */
    margin-bottom: 5px; /* Adding margin below labels */
  }
  
  .feedback input[type="text"],
  
  .feedback textarea {
    width: 100%; /* Making the input and textarea take full width */
    padding: 40px; /* Adding some padding */
    border: 1px solid #F0F1D7; /* Adding a border for input fields */
    border-radius: 4px;
    background-color: #F0F1D7; /* Adding border-radius for rounded corners */
  }
  
  .feedback button {
    background-color: #FAFBEA; /* Green background color for the button */
    color:black; /* White text color for the button */
    padding: 20px 40px; /* Padding for the button */
    border: none; /* Removing border */
    border-radius: 4px; /* Adding border-radius for rounded corners */
    cursor: pointer; /* Changing cursor to pointer on hover */
  }
  
  .feedback button:hover {
    background-color: white; /* Darker green color on hover */
  }
  
  .h5{
    text-align: center;
    margin-top: 25px;
  }

  .feedbackfooter{
    position: absolute;
    margin-bottom: 5400px;
    margin-top:-6500px;
    margin-left:1700px;
  }