/* html, body {
  overflow-y: auto;
  margin: 0;
  padding: 0;
  
} */
html::-webkit-scrollbar{
  display:none;
}

.logo {
  position: absolute;
  top: -2640px;
  left: -40px;
  height: auto;
  z-index: 1000; 
  margin-left: -700px;

}

.Notifi {
  position: absolute;
  margin-top: -390px;
  height: 250px;
  z-index: 1000;
  margin-left: -650px;
  width: 1500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.Notifi2 {
  position: absolute;
  margin-top: -10px;
  height: 250px;
  z-index: 1000;
  margin-left: -650px;
  width: 1500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}

 .notififooter {
  position: absolute;
  margin-bottom: 9000px;
  margin-top:-3000px;
  margin-left:1300px;
} 
 


 
